@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="~/img/Carousel-1.jpg" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                                <p class="text-primary text-uppercase fw-bold mb-2">Buscas libros?.. Lo encuentras en...</p>
                                <h1 class="display-1 text-light mb-4 animated slideInDown">LIBRERIA  R&A; </h1>
                            <p class="text-light fs-5 mb-4 pb-3">
                                Lee por placer, lee por necesidad, ¡pero lee!
                                <a href="https://www.museodelprado.es/coleccion/artista/alegre-manuel/1ffd7721-6789-4af6-8c41-b0a1f49e823d" target="_blank"><span class="fst-italic">(Manuel Alegre)</span></a>
                            </p>
                            <a href="https://biblioteca.clacso.edu.ar/Colombia/fce-unisalle/20170117041131/lecturacr.pdf" class="btn btn-primary rounded-pill py-3 px-5">Leer más...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="~/img/Carousel-2.jpg" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">Buscas libros?.. Lo encuentras en...</p>
                            <h1 class="display-1 text-light mb-4 animated slideInDown">LIBRERIA  R&A; </h1>
                            <p class="text-light fs-5 mb-4 pb-3">
                                Lee por placer, lee por necesidad, ¡pero lee!
                                <a href="https://www.museodelprado.es/coleccion/artista/alegre-manuel/1ffd7721-6789-4af6-8c41-b0a1f49e823d" target="_blank"><span class="fst-italic">(Manuel Alegre)</span></a>
                            </p>
                            <a href="https://biblioteca.clacso.edu.ar/Colombia/fce-unisalle/20170117041131/lecturacr.pdf" class="btn btn-primary rounded-pill py-3 px-5">Leer más...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Facts Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-4">
                <div>
                    <div>

                        <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-certificate fa-4x text-primary mb-4"></i>
                            <p class="mb-2">Años de experiencia</p>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">50</h1>
                        </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="fact-item bg-light rounded text-center h-100 p-5">
                            <i class="fa fa-users fa-4x text-primary mb-4"></i>
                        <p class="mb-2">SProfesionales calificadas</p>
                            <h1 class="display-5 mb-0" data-toggle="counter-up">175</h1>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->


    <!-- About Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row img-twice position-relative h-100">
                        <div class="col-6">
                            <img class="img-fluid rounded" src="~/img/About-1.jpg" alt="">
                        </div>
                        <div class="col-6 align-self-end">
                            <img class="img-fluid rounded" src="~/img/About-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <p class="text-primary text-uppercase mb-2">// Sobre Nosotros</p>
                        <h1 class="display-6 mb-4">Atendemos con cordialidad y amabilidad</h1>
                    <p>
                        Bienvenido a R&A Libros, tu librería de confianza en la ciudad. Desde hace más de 20 años, llevamos a nuestros clientes las mejores novedades literarias en todas las categorías:

                        📚 Literatura: contamos con un amplio catálogo de clásicos imprescindibles y lo último en novelas contemporáneas, incluyendo muchos títulos firmados por los autores.

                        📖 No ficción: los temas más populares en management, superación personal, historia, cocina, jardinería, manualidades y más. Libros prácticos para aprender.

                        📕 Infantil y Juvenil: cuentos clásicos inmortales así como aventuras entretenidas y educativas para primeros lectores.

                        Además de miles de libros, en R&A también ofrecemos otros servicios como:

                        ✔️ Sección de revistas y prensa
                        ✔️ Materiales de papelería y escritura
                        ✔️ Wi-fi gratuito
                        ✔️ Café-Bar para una agradable lectura
                        ✔️ Terraza y jardín al aire libre

                        R&A es mucho más que libros, ¡es cultura y un punto de encuentro para amantes de la lectura! Visítanos y descubre todo lo que tenemos para ti.
                    </p>
                        <div class="row g-2 mb-4">
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Libros Educativos
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Novelas
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Cuentos para toda las edades
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Libros de Investigacion
                            </div>
                        </div>
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Leer más..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Product Start -->
    <div class="container-xxl bg-light my-6 py-6 pt-0">
        <div class="container">
            <div class="bg-primary text-light rounded-bottom p-5 my-6 mt-0 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="display-4 text-light mb-0">La mejor librería de la ciudad</h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <div class="d-inline-flex align-items-center text-start">
                            <i class="fa fa-phone-alt fa-4x flex-shrink-0"></i>
                            <div class="ms-4">
                            <p class="fs-5 fw-bold mb-0">Llámanos</p>
                                <p class="fs-1 fw-bold mb-0">+591 67626191</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="text-primary text-uppercase mb-2">// LIBROS</p>
            <h1 class="display-6 mb-4">Explore las categorías de nuestros productos de libros</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                        <div class="text-center p-4">
                            <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">$11 - $99</div>
                            <h3 class="mb-3">EPICA</h3>
                        <span>La Odisea se considera una de las máximas expresiones de la épica griega clásica junto con la Ilíada. Su importancia, temas universales y gran influencia cultural la han convertido en una obra maestra de la literatura occidental.</span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="~/img/Product-1.jpg" alt="">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                        <div class="text-center p-4">
                            <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$11 - $99</div>
                            <h3 class="mb-3">FANTASIA</h3>
                        <span>El Señor de los Anillos se enmarca principalmente dentro del género fantasía épica o alta fantasía. Es una obra maestra fundamental de este género literario.</span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="~/img/Product-2.jpg" alt="">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                        <div class="text-center p-4">
                            <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$11 - $99</div>
                            <h4 class="mb-3">TERROR</h4>
                        <span>Un legado de sangre" califique como una novela de suspense o misterio de carácter histórico, donde el descubrimiento de verdades del pasado resulta relevante para la trama y las vidas de los personajes principales.</span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="~/img/Product-3.jpg" alt="">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product End -->


    <!-- Service Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="text-primary text-uppercase mb-2">// Nuestros Servicios</p>
                <h1 class="display-6 mb-4">¿Qué ofrecemos para usted?</h1>
                <p class="mb-5">En nuestra librería encontrarás todo lo que necesitas para saciar tu pasión por la lectura. Contamos con un extenso catálogo de libros de todas las temáticas:</p>
                    <div class="row gy-5 gx-4">
                    <p class="mb-5">♠ Literatura: disfruta de grandes clásicos y novedades de prestigiosos autores contemporáneos. Desde best sellers internacionales hasta joyas ocultas.</p>
                    <p class="mb-5">♠ Infantil y juvenil: cuentos maravillosos, aventuras entretenidas y libros educativos para fomentar el amor por la lectura desde pequeños.</p>
                    <p class="mb-5">♠ No ficción: amplía tus conocimientos en desarrollo personal, historia, ciencias, actividades al aire libre y más.</p>
                </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row img-twice position-relative h-100">
                        <div class="col-6">
                            <img class="img-fluid rounded" src="~/img/servis-1.jpg" alt="">
                        </div>
                        <div class="col-6 align-self-end">
                            <img class="img-fluid rounded" src="~/img/servis-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Team Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="text-primary text-uppercase mb-2">// NUESTRO PEERSONAL</p>
            <h1 class="display-6 mb-4">Somos profesionales capacitados en nuestras habilidades</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="~/img/admin.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Jose Deiver</h5>
                                <span>ADMINISTRADOR</span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="~/img/cajero.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Rodrigo Arancibia</h5>
                                <span>CAJERO</span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="~/img/segur.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Carlos Daza</h5>
                                <span>SEGURIDAD</span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="~/img/limpio.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Bertha Aceituno</h5>
                                <span>LIMPIEZA</span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl bg-light my-6 py-6 pb-0">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">// OPINIÓN DEL CLIENTE</p>
            <h1 class="display-6 mb-4">Más de 20.000 clientes satisfechos con nosotros</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item bg-white rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="~/img/testimonial-1.jpg" alt="">
                        <div class="ms-4">
                            <h5 class="mb-1">Karen Daza</h5>
                            <span>Administradora</span>
                        </div>
                    </div>
                <p class="mb-0">Me encanta esta librería porque está muy bien organizada por géneros y temas. Encontrar lo que busco es muy fácil y rápido. Además, su sección de narrativa clásica es espectacular.</p>
                </div>
                <div class="testimonial-item bg-white rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="~/img/testimonial-2.jpg" alt="">
                        <div class="ms-4">
                            <h5 class="mb-1">Miguel Servantes</h5>
                            <span>Literario</span>
                        </div>
                    </div>
                <p class="mb-0">Sin duda, la mejor librería en cuanto a variedad de títulos. Tienen desde best-sellers, literatura, libros infantiles y juveniles, hasta secciones especializadas menos comunes como poesía, teatro y filosofía.</p>
                </div>
                <div class="testimonial-item bg-white rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="~/img/testimonial-3.jpg" alt="">
                        <div class="ms-4">
                        <h5 class="mb-1">Carlos Casillas</h5>
                            <span>Abogado</span>
                        </div>
                    </div>
                <p class="mb-0">El trato del personal es excelente. Siempre tienen buenas recomendaciones de lecturas new que se adaptan a mis preferencias. Se nota que realmente aman los libros.</p>
                </div>
                <div class="testimonial-item bg-white rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="~/img/testimonial-4.jpg" alt="">
                        <div class="ms-4">
                            <h5 class="mb-1">Saida Caceres</h5>
                            <span>Maestra</span>
                        </div>
                    </div>
                <p class="mb-0">El espacio es muy acogedor para leer y hojear libros tranquilamente. También cuentan con una cafetería ideal para tomar un café mientras decides tu próxima lectura.</p>
                </div>
            </div>
            <div class="bg-primary text-light rounded-top p-5 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row align-items-center">
                    <div class="col-md-6">
                    <h1 class="display-4 text-light mb-0">Suscríbete</h1>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <div class="position-relative">
                        <input class="form-control bg-transparent border-light w-100 py-3 ps-4 pe-5" type="text" placeholder="Tu correo electrónico">
                        <button type="button" class="btn btn-dark py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Inscribirse</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->