@model WebBibliotecaMVC.Models.Empleado

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-xxl py-6" style="background-color: black">
    <div class="container">
        <div class="row g-4">
            <h1 style="color: white">Crear Empleado</h1>


            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label" style="color: #EAA636">Nombre</label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="color: #EAA636">Apellidos</label>
                            <input asp-for="Apellidos" class="form-control" />
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="color: #EAA636">Telefono</label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="color: #EAA636">Cargo</label>
                            <select asp-for="Cargo" class="form-select">
                                <option>Mesero</option>
                                <option>Cocinero</option>
                                <option>Cajero</option>
                                <option>Personal de Limpieza</option>
                            </select>
                            <span asp-validation-for="Cargo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="color: #EAA636">Salario</label>
                            <input asp-for="Salario" class="form-control" />
                            <span asp-validation-for="Salario" class="text-danger"></span>
                        </div><br />
                        <div class="form-group">
                            <input type="submit" style="color: black" value="Crear" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
