@model WebBibliotecaMVC.Models.Cliente

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-6" style="background-color: black">
    <div class="container">
        <div class="row g-4">
            <h1 style="color: white">Crear Cliente</h1>


            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label" style="color: #EAA636">RazonSocial</label>
                            <input asp-for="RazonSocial" class="form-control" />
                            <span asp-validation-for="RazonSocial" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="color: #EAA636">CedulaIdentidad</label>
                            <input asp-for="CedulaIdentidad" class="form-control" />
                            <span asp-validation-for="CedulaIdentidad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="color: #EAA636">Celular</label>
                            <input asp-for="Celular" class="form-control" />
                            <span asp-validation-for="Celular" class="text-danger"></span>
                        </div><br />
                        <div class="form-group">
                            <input type="submit" style="color: black" value="Crear" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}